/* #PanBackorGUI{
    position: relative;
    right: -54vw;
    bottom: -55%;
    height: 15%;
    width: 20vw;
    background-color: black;
    transition: right 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#PanBackorGUI img{
    height: 100%;
}

#PanBackorGUI div.text{
    position: absolute;
    display: block;
    margin: -10% 2% -10% 22%;
    text-align: left;
    font-size: 15px;
}

#PanBackorGUI a{
    color: white;
}
#PanBackorGUI .eye:after { /*pupil*/
    position: absolute;
    bottom: 55%;
    right: 29%;
    width: 40%;
    aspect-ratio: 1;
    background: #000;
    border-radius: 50%;
    content: " ";
}
#PanBackorGUI {

    position: relative;
    right: -90vw;
    bottom: -55%;
    height: 15%;
    width: 20vw;
    background-color: black;
    transition: right 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .Backor {
    position: absolute;
    left: -3vw;
    height: 160%;
    user-select: none;
  }
  #PanBackorGUI .eye {
  
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      height: 22%;
      aspect-ratio: 1;
      background: white;
      top: 16%;
      left: 11%;
      scale: 0.75;
  
  }
  #eye2 {
  
  top: 23% !important;
  left: 39% !important;
  
  }
