
#contentDisplay{
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/wallpaper01.jpg");
    filter: brightness(0);
}

#taskBar{
    z-index: 98;
    width: 100%;
    height: 6%;
    position: absolute;
    background-color: rgb(53, 52, 52);
    bottom: 0;
    filter: brightness(0);
    overflow: hidden;
}
#taskBar img{
    border-radius: 3px;
    vertical-align: middle;
    z-index: 2;
    width: 5vh;
}
#blackscreen {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}
#getTime{
    color: white;
    font-size: 1.5vh;
    float: right;
    text-align: center;
    margin-right: 1%;
    margin-top: .5vh;
}

#startMenu{
    z-index: -1;
    position: fixed;
    height: 1200%;
    width: 40%;
    bottom: -1200%;
    background-color: #074c68;
}

#startMenu #sideBar{
    height: 100%;
    width: 5vh;
    background-color: #05465e;
    transition: .2s;
}

#startMenu #sideBar:hover{
    width: 40%;
}

#sideBar:hover .start_text{
    visibility: visible;
}

#startMenu #PowerBTN{
    bottom: 0;
}

#startMenu #SettingsBTN{
    bottom: 0;
}

#startMenu #AccountBTN{
    bottom: 0;
}

#StartBTN:hover{
    filter: invert(55%) sepia(100%) hue-rotate(160deg);
}

.start_text{
    position: absolute;
    color: white;
    font-size: large;
    visibility: hidden;
    left: 12%;
}

.start_sidebar_btns{
    position: relative;
}

.start_sidebar_btns:hover{
    background-color: #04394d;
}

.start_sidebar_btns p{
    position: absolute;
    left: 30%;
    bottom: 27%;
}

#MoreBTN p{
    font-weight: bold;
}

.blank_space{
    position: relative;
    height: 67%;
}