
#contentDisplay{
    z-index: 1;
    position: absolute;
    overflow: clip;
    width: 100%;
    height: 100%;
    /* background-image: url("../images/purkiada2023.png"); */
    /* background-image: radial-gradient(ellipse at center, #222 0%, darkred 100%); */
    background: black;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) rgba(13, 162, 95, .25);
    background-blend-mode: multiply,multiply;   
    filter: brightness(0);
}
#contentDisplay::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 106%;
    background-image: url("../images/purkiada2023.png");
    -webkit-filter: drop-shadow( -5px -5px 10px #000 );
    filter: drop-shadow( -5px -5px 10px #000 );
    background-size: cover;
    background-position: center;
    background-size: min(25vh, 50vw);
    background-repeat: no-repeat;
    z-index: -1;
    user-select: none;
    pointer-events: none;
}
/* #contentDisplay::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 106%;
    background-image: url("../images/purkiada2023.png");
    background-color: rgb(11, 119, 70);
    background-size: cover;
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    z-index: 999;
    display:none;
} */

#taskBar{
    z-index: 98;
    width: 100%;
    height: 6%;
    position: absolute;
    background-color: rgb(53, 52, 52);
    bottom: 0;
    filter: brightness(0);
    overflow: hidden;
}
#taskBar img{
    border-radius: 3px;
    vertical-align: middle;
    z-index: 2;
    width: 5vh;
}
#blackscreen {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}
#getTime{
    color: white;
    font-size: 1.5vh;
    float: right;
    text-align: center;
    margin-right: 1%;
    margin-top: .5vh;
}

#startMenu{
    z-index: -1;
    position: fixed;
    height: 1200%;
    width: 40%;
    bottom: -1200%;
    background-color: #074c68;
}

#startMenu #sideBar{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 5vh;
    background-color: #05465e;
    transition: .2s;
}

#startMenu #sideBar:hover{
    width: 40%;
}

#sideBar:hover .start_text{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#startMenu #PowerBTN{
    bottom: 0;
}

#startMenu #SettingsBTN{
    bottom: 0;
}

#startMenu #AccountBTN{
    bottom: 0;
}

#StartBTN:hover{
    filter: invert(55%) sepia(100%) hue-rotate(160deg);
}

.start_text {
	/* position: absolute; */
	color: white;
	font-size: large;
	/* left: 12%; */
	display: none;
	margin: auto 0;
    display: none;
}

.start_sidebar_btns {
	position: relative;
	display: flex;
	cursor: pointer;
}

.start_sidebar_btns:hover{
    background-color: #04394d;
}

/* .start_sidebar_btns p{
    position: absolute;
    left: 30%;
    bottom: 27%;
} */
.start_apps:not(:last-child){
    margin-bottom: 5px;
}
.start_apps p{
    /* border: solid 1px red; */
    /* max-height: 7vh; */
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    /* text-align: center; */
    width: 100%;
    height: 100%;
    margin: auto;
}
.start_apps img{
    align-self: center;
}

.appList_text{
    /* position: absolute; */
    color: white;
    font-size: medium;
    left: 12%;
}

#MoreBTN p{
    font-weight: bold;
}

.blank_space{
    position: relative;
    height: 67%;
}

#appList {
	z-index: 1;
	position: absolute;
	left: 5vh;
	height: calc(100% - 10px);
	width: 50%;
	top: 0;
	overflow-y: scroll;
	padding: 5px;
}
.textOverflow1Line, .textOverflow2Line{
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.textOverflow2Line{
    -webkit-line-clamp: 2;
}