
#contentDisplay{
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/wallpaper01.jpg");
    filter: brightness(0);
}

#taskBar{
    z-index: 98;
    width: 100%;
    height: 6%;
    position: absolute;
    background-color: rgb(53, 52, 52);
    bottom: 0;
    filter: brightness(0);
    overflow: hidden;
}
#taskBar img{
    border-radius: 3px;
    vertical-align: middle;
    z-index: 2;
    width: 5vh;
}
#blackscreen {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(17, 17, 17);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}
#getTime{
    color: white;
    font-size: 1.5vh;
    float: right;
    text-align: center;
    margin-right: 1%;
    margin-top: .5vh;
}

#startMenu{
    z-index: -1;
    position: fixed;
    height: 1200%;
    width: 40%;
    bottom: -1200%;
    background-color: #074c68;
}

#startMenu #sideBar{
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 5vh;
    background-color: #05465e;
    transition: .2s;
}

#startMenu #sideBar:hover{
    width: 40%;
}

#sideBar:hover .start_text{
    visibility: visible;
}

#startMenu #PowerBTN{
    bottom: 0;
}

#startMenu #SettingsBTN{
    bottom: 0;
}

#startMenu #AccountBTN{
    bottom: 0;
}

#StartBTN:hover{
    filter: invert(55%) sepia(100%) hue-rotate(160deg);
}

.start_text {
	/* position: absolute; */
	color: white;
	font-size: large;
	visibility: hidden;
	/* left: 12%; */
	display: block;
	margin: auto 0;
}

.start_sidebar_btns{
    position: relative;
    display: flex;
}

.start_sidebar_btns:hover{
    background-color: #04394d;
}

.start_sidebar_btns p{
    /* position: absolute;
    left: 30%;
    bottom: 27%; */
}
.start_apps:not(:last-child){
    margin-bottom: 5px;
}
.start_apps p{
    /* border: solid 1px red; */
    /* max-height: 7vh; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    margin: auto;
}
.start_apps img{
    align-self: center;
}

.appList_text{
    /* position: absolute; */
    color: white;
    font-size: medium;
    left: 12%;
}

#MoreBTN p{
    font-weight: bold;
}

.blank_space{
    position: relative;
    height: 67%;
}

#appList{
    z-index: 1;
    position: absolute;
    left: 5vh;
    height: 100%;
    width: 45%;
    top: 0;
    overflow-y: scroll;
}