

#application1,
#application2,
#application3,
#application4,
#application5,
#application6,
#application7,
#application8,
#application9,
#application10
{
    z-index: 0;
    margin: 2%;
    width: 70PX; height: 70PX;
    position: fixed;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgba(171, 171, 171, 0.3);
    background-image: url("../images/levelLogos/LIGHT/icon1.png");
    border-bottom-style: solid;
    border-color: black;
}

#window1,
#window2,
#window3,
#window4,
#window5,
#window6,
#window7,
#window8,
#window9,
#window10
{
    z-index: 1;
    width: max(500px, 50%);
    height: 400px;
    border-radius: 15px;
    background-size: cover;
    background-position: top;
    position: absolute;
    background-image: url("../images/levelBackground/clouds.png");
}

#windowHeader1,
#windowHeader2,
#windowHeader3,
#windowHeader4,
#windowHeader5,
#windowHeader6,
#windowHeader7,
#windowHeader8,
#windowHeader9,
#windowHeader10{
    width: 100%;
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(7, 76, 104);
}

#windowClose1,
#windowClose2,
#windowClose3,
#windowClose4,
#windowClose5,
#windowClose6,
#windowClose7,
#windowClose8,
#windowClose9,
#windowClose10{
    height: 100%;
    width: 15%;
    margin-right: 0;
    margin-left: auto;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    color: white;
    float: right;
    border-top-right-radius: 15px;
}
#windowClose1:hover,
#windowClose2:hover,
#windowClose3:hover,
#windowClose4:hover,
#windowClose5:hover,
#windowClose6:hover,
#windowClose7:hover,
#windowClose8:hover,
#windowClose9:hover,
#windowClose10:hover{
    background-color: red;
}

#windowTitle1,
#windowTitle2,
#windowTitle3,
#windowTitle4,
#windowTitle5,
#windowTitle6,
#windowTitle7,
#windowTitle8,
#windowTitle9,
#windowTitle10{
    height: 80%;
    width: 80%;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 0%;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: white;
}

#application2{
    margin-left: 8%;
    background-image: url("../images/levelLogos/LIGHT/icon2.png");
}

#window2{
    background-image: url("../images/levelBackground/pyramid.webp");
}

#application3{
    margin-left: 14%;
    background-image: url("../images/levelLogos/LIGHT/icon3.png");
}

#window3{
    background-image: url("../images/levelBackground/clouds.png");
}

#application4{
    margin-left: 20%;
    background-image: url("../images/levelLogos/LIGHT/icon4.png");
}

#application5{
    margin-left: 26%;
    background-image: url("../images/levelLogos/LIGHT/icon5.png");
}

#application6{
    margin-left: 32%;
    background-image: url("../images/levelLogos/LIGHT/icon6.png");
}

#window6{
    background-image: url("../images/levelBackground/clouds.png");
}

#application7{
    margin-left: 38%;
    background-image: url("../images/levelLogos/LIGHT/icon7.png");
}

#window7{
    width: 360px; height: 360px;
    background-image: url("../images/levelBackground/BigBrain.png");
}

#application8{
    margin-left: 44%;
    background-image: url("../images/levelLogos/LIGHT/icon8.png");
}

#window8{
    background-image: url("../images/levelBackground/enigma-wallpaper.jpg");
    background-color: #faf876;
    width: 700px;
    height: 400px;
}

#application9{
    margin-left: 50%;
    background-image: url("../images/levelLogos/LIGHT/icon9.png");
}

#window9{
    background-image: none;
    background-color: #D6D6D6;
}
#application10{
    margin-left: 56%;
    background-image: url("../images/levelLogos/LIGHT/icon10.png");
}

#window10{
    background-image: url("../images/levelBackground/clouds.png");
}