/*
#application1,
#application2,
#application3,
#application4,
#application5,
#application6,
#application7,
#application8,
#application9,
#application10
{
    z-index: 0;
    margin: 2%;
    width: 70PX; height: 70PX;
    position: fixed;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-color: rgba(171, 171, 171, 0.3);
    background-image: url("../images/levelLogos/LIGHT/icon1.png");
    border-bottom-style: solid;
    border-color: black;
} */