#av_header{
    width: 100%;
    height: 14%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}

#av_header img{
    position: relative;
    height: 98%;
    float: left;
    margin-left: 10px;
}

#av_header p{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 2%;
    color: rgb(82, 221, 82);
    font-weight: bold;
}

#av_sideBar{
    height: 86%;
    width: 20%;
    background-color: rgb(80, 80, 80);
}

#av_settings{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: calc(80% - 2px);;
    background-color: rgb(80, 80, 80);
}

#av_footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 20%;
    background-color: rgb(22, 22, 22);
    transition: ease-out 3s;
}

#av_footer #av_scanBTN{
    position: absolute;
    width: 150px;
    height: 40px;
    border-radius: 100px;
    left: calc(50% - 75px);
    top: -20px;
    background-color: rgb(59, 221, 59);
}

#av_footer button{
    font-size: large;
    cursor: pointer;
}

.av_button{
    height: 70px;
    width: 100%;
}

.av_button img{
    height: 60%;
}

.av_button p{
    font-size: small;
    font-weight: bold;
}

.av_button:hover{
    background-color: rgb(70, 70, 70);
}

#av_scanInfo{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
    left: 50px;
}

#av_scanInfo_text{
    text-align: left;
}

#av_scanInfo_status{
    font-size: medium;
}

#av_scanInfo button{
    position: absolute;
    display: none;
    width: auto;
    bottom: 50px;
    padding: 5px;
    background-color: rgb(59, 221, 59);
    border-radius: 0;
}
