#fe_header{
    background-color: rgba(0, 0, 0, 0.692);
    height: 60px;
    width: 100%;
}

#fe_header img{
    position: absolute;
    height: 55px;
    top: 35px;
}

#fe_icon{
    left: 10px;
}

#fe_hide{
    right: 10px;
    cursor: pointer;
}

#fe_sideBar{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.692);
    height: calc(100% - 60px);
    width: 180px;
    overflow-y: scroll;
}
.fe_tab{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    right: 0;
    bottom: 0;
    width: calc(100% - 180px);
    height: calc(100% - 90px);
    background-color: #18181886;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #18181886;
    overflow-x: clip;
    padding-right: 2.5px;
}
.fe_tab p{
    pointer-events: none;
}

.side_folder{
    justify-content: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    left: 5px;
    height: 45px;
    width: 85%;
    cursor: pointer;
}

.side_folder:hover{
    background-color: rgba(7, 77, 104, 0.801);
}

.side_folder img{
    height: 30px;
    width: 30px;
    pointer-events: none;
}

.fe_files{
    margin: 5px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fe_files:hover{
    background-color: rgba(34, 52, 59, 0.418);
    border: 1px solid #074c68;
    box-sizing: border-box;
}

.fe_files img{
    height: 120px;
    margin-top: 5px;
    pointer-events: none;
}
.hiddenFiles{
    display: none;
}
.showHiddenFiles{
    display: flex;
    opacity: .75;
    /* background-color: white; */
    /* add 1s animation where the background color turns two white then back to default */
    animation: showHiddenFiles .5s linear;
}
@keyframes showHiddenFiles{
    0%{
        background-color: rgba(186, 205, 212, 0.418);  
    }
    100%{
        background-color: rgba(34, 52, 59, 0.418);
    }
}

/* text files */
#fileText {
    text-align: left;
    overflow-wrap: break-word;
}