#properties_container{
    height: 92%;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    padding-top: 2%;
}
#properties_disk{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}
#properties_disk > div{
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    padding: 5% 10%;
    margin: 5px 0;
}
#disk_name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}
#disk_name img{
    height: 100%;
    aspect-ratio: 1/1;
    pointer-events: none;
}
#disk_type, #disk_storage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    text-align: left;
}
#disk_type{
    display: block;
}
#disk_type > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
#properties_optimizition{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#defragmentation_img {
    height: 30px;
    width: 30px;
    pointer-events: none;
}
